@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dates/styles.css';

:root {
  --mantine-color-body: #ffffff;
  --mantine-color-text: #212529;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
